<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <img src="../assets/images/logo.png" style="width: 50%; float: right;">
        </div> Admin
      </div>
    </div>
    <nav class="menu">
      <ul class="sidebar-menu metismenu" id="sidebar-menu">
        <li class="active">
          <a routerLinkActive="active" routerLink="orglist">
            <i class="fa fa-home"></i> Dashboard </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-th-large"></i> Menu Link 1 <i class="fa arrow"></i>
          </a>
          <ul class="sidebar-nav">
            <li>
              <a href="items-list.html"> Submenu Link 1 </a>
            </li>
            <li>
              <a href="items-edit.html"> Submenu Link 2 </a>
            </li>
          </ul>
        </li> 
      </ul>
    </nav>
  </div>
  <footer class="sidebar-footer">
    <ul class="sidebar-menu metismenu" id="customize-menu">
      <li>
        <ul>
          <li class="customize">
            <div class="customize-item">

              <div class="row">
                <div class="col-12">

                  <a href="">
                    <i class="fa fa-pencil-square-o"></i> Settings Link 1
                  </a>

                </div>

              </div>
              <div class="row">
                <div class="col-12">

                  <a href="">
                    <i class="fa fa-pencil-square-o"></i> Settings Link 2
                  </a>

                </div>
              </div>
              <div class="row">
                <div class="col-12">

                  <a href="">
                    <i class="fa fa-pencil-square-o"></i> Settings Link 3
                  </a>

                </div>
              </div>
            </div>

          </li>
        </ul>
        <a href="">
          <i class="fa fa-cog"></i> Settings </a>
      </li>
    </ul>
  </footer>
</aside>
<router-outlet></router-outlet>