<div class="app" id="app">
    <article class="content items-list-page">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="box-content">
                        <p class="center">
                            <button (click)="openCreateTaskModal()" id="AddItems" style="margin-right: 5px;"
                                class="btn btn-primary"><i class="halflings-icon white bell"></i>Add New</button>

                            <button onclick="javascript: ExportItems(this);" data-toggle='modal' id="ExportItems"
                                class="btn btn-primary"><i class="fa fa-download"> &nbsp;</i>Export</button>


                            <span style="float: right; display: inline-flex; width: 40%;">
                                <span style="min-width: 60px;">Filter : </span>
                                <select name="dd_filter" onchange="javascript:testfunction()" id="dd_filter"
                                    [(ngModel)]="filterStatus" (change)="applyFilter()"
                                    class="dynamicdropdownposition form-control margin-right-10">
                                    <option selected="selected" value="A">Active</option>
                                    <option value="I">Inactive</option>
                                </select>
                            </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="form-group row">
                        <div class="search" style="margin-top: 15px;">
                            <input [(ngModel)]="searchTerm" type="search" (input)="search()" placeholder="Search"
                                class="search-input" />
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title-block">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                                        cellspacing="0" rules="all" border="1" id="GV_ManageList"
                                        style="border-collapse: collapse;" role="grid"
                                        aria-describedby="GV_ManageList_info">
                                        <thead>
                                            <tr role="row">
                                                <th scope="col" class="sorting_asc" tabindex="0"
                                                    aria-controls="GV_ManageList" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Code: activate to sort column descending"
                                                    (click)="sort('CODE')" style="width: 96px;">Code</th>
                                                <th scope="col" class="sorting_asc" tabindex="0"
                                                    aria-controls="GV_ManageList" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Description: activate to sort column descending"
                                                    (click)="sort('DESCRIPTION')" style="width: 96px;">Description</th>
                                                    <th scope="col" class="sorting_asc" tabindex="0"
                                                    aria-controls="GV_ManageList" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Description: activate to sort column descending"
                                                    style="width: 96px;">Org Header</th>
                                                <th scope="col" class="sorting" tabindex="0"
                                                    aria-controls="GV_ManageList" rowspan="1" colspan="1"
                                                    aria-label="Action: activate to sort column ascending"
                                                    style="width: 87px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <ng-container *ngFor="let orgData of filteredOrgList | slice:(currentPage - 1) * itemsPerPage : currentPage * itemsPerPage"> -->
                                            <ng-container *ngFor="let orgData of filteredOrgList ">
                                            <tr role="row" class="odd">
                                                <td>{{orgData.cd}}</td>
                                                <td>{{orgData.ds}}</td>
                                                <td>{{orgData.oId}}</td>
                                                <td style="width:20px;">
                                                    <div class="item-actions-block">
                                                        <a id="FileDownload" class="btn btn-info white-color"
                                                            style="margin-right: 10px;"
                                                            [routerLink]="['/org-attributes-details/edit',orgData.id]">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>

                                                        <button id="FileDelete" class="btn btn-info white-color remove"
                                                            href="#" data-toggle="modal" data-target="#confirm-modal"
                                                            (click)="deletePayroll(orgData.id)">
                                                            <i class="fa fa-trash-o "></i>
                                                        </button>

                                                    </div>
                                                </td>
                                            </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <div class="form-group row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4">
                                    <div class="pagination-controls">
                                        <button (click)="previousPage()" [disabled]="currentPage === 1">
                                            <i class="fa fa-arrow-left"></i>
                                        </button>
                                        <span class="page-number">Page {{ currentPage }} of {{ totalPages }}</span>
                                        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
                                            <i class="fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>
</div>