.search {
    $padding: 10px;
    
    width: max-content;
    display: flex;
    align-items: center;
    padding: $padding;
    border-radius: 28px;
    background: #f6f6f6;
    width: 600px;

    .search-input {
      font-size: 16px;
      font-family: 'Lexend', sans-serif;
      color: #333333;
      margin-left: $padding;      
      border: none;
      background: transparent;
      width: 300px;
      flex: 1;
    }   
  }

  .pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    button {
      background-color: #e0f2f1; // Light green color
      border: none;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #a5d6a7;
      }
  
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
  
      i {
        font-size: 16px;
        color: #333;
      }
    }
  
    .page-number {
      background-color: #e0f2f1; // Light green circle
      color: #333;
      font-weight: bold;
      border-radius: 50%;
      padding: 8px 14px;
      font-size: 14px;
    }
  }

  .section {
    position: relative;
    // width: 100%;
    // max-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #e0f2f1; // Light green border
    box-shadow: 0px 4px 20px rgba(76, 175, 80, 0.2); // Light green shadow for elegance
    animation: popup-fade-in 0.4s ease-out;
  }
  
  @keyframes popup-fade-in {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  